*{
    padding: 0;
    margin: 0;
}

.main{
    min-height: 70vh;
    padding: 20px;
    margin: 50px 0px 0px 0px;
}

.inscripcion-container{
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

.inscripcion-detalle{
    display: flex;
    flex-direction: column;
}

.inscripcion-detalle h1{
    font-size: 24px;
}

.inscripcion-detalle img{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
}

.inscripcion-form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-left: 50px;
}

.inscripcion-h2{
    margin-bottom: 20px;
}
.form{
    display: flex;
    gap: 20px;
    width: 100%;
}

.inscripcion-form-input{
    width: 30%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #DDDD;
}

.botonMenos{
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 0 5px;
}

.btn-sumar-persona{
    font-size: 30px;
    cursor: pointer;
}

.btn-restar-persona{
    font-size: 30px;
    cursor: pointer;
}

.container-btn-sumar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-precio-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-inscribirse{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: black;
    color: white;
    cursor: pointer;
    order: 2;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }


@media (max-width: 880px){
    .inscripcion-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .inscripcion-detalle{
        margin-left: 0px;
    }

    .inscripcion-form-container{
        margin-left: 0px;
    }
}

@media (max-width: 640px){
    .inscripcion-form-container{
        width: 80%;
    }

    .inscripcion-detalle-img{
        width: 300px;
        height: 200px;
    }

    .form{
        width: 100%;
        flex-direction: column;
        border: 1px solid #CCC;
        padding: 10px;
    }

    .form input{
        width: 100%;
    }
}



